<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<!--  The following meta says that the site can be opened on a mobile device too   -->
<meta name = "viewport" content = "width=device-width,
                                    user-scalable=no,
                                    initial-scale=1.0,
                                    maximum-scale=1.0,
                                    minimum-scale=1.0">
